<ion-header no-border>
  <ion-toolbar color="">
    <ion-img slot="start" src="../../assets/netflix.svg" class="logo"></ion-img>
    <ion-buttons slot="end">
      <ion-button style="font-size: small;" routerLink="/login">SIGN IN</ion-button>
      <ion-button style="font-size: small;">HELP</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen scroll-y="false">
  <ion-slides>

    <ion-slide>
      <ion-img src="../../assets/slide1.jpg"></ion-img>
      <!-- <div class="overlay">
        <h2>Watch on any device</h2>
        <p>Stream on your phone, tablet, laptop and TV.</p>
      </div> -->
    </ion-slide>

    <ion-slide>
      <ion-img src="../../assets/slide2.jpg" width="100vw !important;"></ion-img>
      <!-- <h2>Download and go</h2>
      <p>Save ypur data, watch offline on a plane, train or submarine...</p> -->
    </ion-slide>

    <ion-slide>
      <ion-img src="../../assets/slide3.jpg"></ion-img>
      <!-- <h2>No annoying contracts</h2>
      <p>Join today, cancel anytime.</p> -->
    </ion-slide>

    <ion-slide>
      <ion-img src="../../assets/slide4.jpg"></ion-img>
      <!-- <h2>Ready to Play?</h2>
      <ion-button fill="clear">Continue <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button> -->
    </ion-slide>

  </ion-slides>
</ion-content>



<ion-footer style="background-color: aliceblue;">
  <ion-button color="danger" expand="block">TRY IT NOW</ion-button>
</ion-footer>
